.apos-area-widget-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
}

.apos-ui {
    padding: 1px;
}


.apos-rich-text p {
    font-size: inherit;
}


#header-main {
    padding: 0px;
    position: relative;
    background-color: #FFF;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: raleway;
    z-index: 99;
    font-weight:bold;
}

#header-main .navbar-brand img {
margin-top: -10px;
    width: 193px;
    height: 38px;
}


#header-main .navbar-nav > li > a:focus, #header-main .navbar-nav > li > a {
    color: #000000;
    font-size: 16px;
    overflow: hidden;
    padding: 35px 18px 34px;
    position: relative;
    z-index: 99999;
}


.apos-login-wrapper {
    background-color: #ffffff;
    min-height: 600px;
}